@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);
  --color-glass: var(--glass);
  --color-glass-border: var(--glass-border);

  --font-header: "Raleway";
  --font-body: "Open Sans";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #3b82f6;
  --accent-soft: rgba(59, 130, 246, 0.1);
  --glass: rgba(255, 255, 255, 0.7);
  --glass-border: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --accent: #3b82f6;
  --accent-soft: rgba(59, 130, 246, 0.2);
  --glass: rgba(15, 23, 42, 0.7);
  --glass-border: rgba(255, 255, 255, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background 0.5s ease,
    color 0.5s ease,
    --color-accent 0.5s ease,
    --color-accent-soft 0.5s ease,
    --color-glass 0.5s ease,
    --color-glass-border 0.5s ease;
}

/* scroll animation */
html {
  scroll-behavior: smooth;
}

/* hide scrollbar */
* {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /*ie and edge */
}

*::-webkit-scrollbar {
  display: none; /* chrome, safari, opera */
}
