@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

nav {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

section {
  width: 100%;
  height: 100%;
  margin: 0  auto;
}
